@font-face {
  font-family: Orbitron;
  src: url("./Orbitron/orbitron-light.otf") format("opentype");
}

body {
  background-color: #f63c58;
  font-family: "Orbitron", Verdana, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  background-color: transparent !important;
}

#cookie_bar {
  flex-direction: column;
  display: flex;
  z-index: 0;
  color: white;
}

#fundraising_link {
  color: white;
  text-decoration: underline;

}

#fundraising_link:hover {
  font-weight: bold;
}

#pointerID {
  cursor: pointer;
  background-color: #ffcccc;
}

.about_p {
  color: white;
  font-size: 18px;
  display: block;
}

.match_pictures {
  width: 250px;
  height: auto;
  border-radius: 10px;
}

#search_btn {
  margin-top: 0;
  margin-right: 20px;
}

input,
textarea {
  font-family: "Orbitron", Verdana, sans-serif;
}

.navbar-end a {
  margin-right: 15px;
  color: white;
}

.navbar-item {
  padding-top: 0;
}

.navbar-item a:hover,
.footer a:hover {
  font-weight: bold;
}

#cancel_link {
  background-color: transparent !important;
  color: white;
  margin-top: 15px;
}

#cancel_link:hover {
  background-color: white !important;
  font-weight: bold;
  color: #f40d30 !important;
}

#cookie_bar {
  padding: 10px 24px;
  border: 2px solid white;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}

#cookie_btn {
  background-color: #f63c58 !important;
  font-weight: bold;
  color: white !important;
}

#cookie_btn:hover {
  background-color: white !important;
  font-weight: bold;
  color: #f40d30 !important;
}

.hero-body {
  text-align: center;
  margin-top: 50px;
}

#login_form,
#register_form {
  margin-top: 30px;
}

img {
  margin-bottom: 25px;
}

#add_form {
  margin-top: 50px;
  margin-left: 0;
  width: 100%;
}

form button {
  margin-top: 15px;
  background-color: transparent !important;
  font-family: "Orbitron", Verdana, sans-serif;
  font-weight: bold;
  color: white !important;
}

form button:hover {
  background-color: white !important;
  font-weight: bold;
  color: #f40d30 !important;
}
